*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1920px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
.margin {
  width: 90%;
  margin: 0 auto;
}
.d-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.button2 {
  background: #fbb801;
  color: #1a1a1a;
  padding: 1em;
  border-radius: 18px;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  border: none;
}
.btn-pur {
  background: #fbb801;
}
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.signup {
  background: #fbb801;
  border: 1px solid #fbb801;
}
.container-nav {
  position: fixed;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #fbfbfd;
  padding: 1em 0;
  z-index: 99;
  background: #07080d;
}
.container-nav .margin {
  align-items: flex-center;
  height: 100%;
}
.container-nav ul li {
  padding-left: 1em;
  font-size: 1.1rem;
}
.container-hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fbfbfd;
}
.container-hero p {
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: gainsboro;
  font-size: 2rem;
  z-index: 1;
}
.container-hero h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  z-index: 1;
}
.container-hero a {
  margin: 1em 0;
  z-index: 1;
}
.container-hero .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.container-menu {
  padding: 1em 0;
  width: 100%;
  height: 100vh;
  background: #fbfbfd;
}
.container-menu .container-aside .card-header {
  background: #1a1a1a;
  color: #8f8e98;
}
.container-menu .container-aside .card-header p {
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
}
.container-menu .container-aside .form-control:focus {
  box-shadow: 0px 0px 5px #1a1a1a;
}
.container-menu .container-aside input {
  background: whitesmoke;
  font-family: "Montserrat", sans-serif;
}
.card {
  width: 15rem;
  margin: 0.5em;
  font-family: "Oswald", sans-serif;
}
.card .card-body {
  background: #fbb801;
}
.container-login {
  height: 100vh;
  color: #fbfbfd;
  font-family: "Montserrat", sans-serif;
}
.container-login h3 {
  font-weight: 700;
}
.container-login form {
  width: 500px;
  background: #1a1a1a;
  padding: 2em 1em;
  border-radius: 6px;
}
.alert {
  color: tomato;
}
.table {
  font-family: "Oswald", sans-serif;
}
.hide {
  display: none;
}
.purchase {
  font-family: "Montserrat", sans-serif;
}
.about a {
  font-weight: 700;
  color: #fbb801;
}
.about .btn-pur {
  color: #1a1a1a;
}

@media only screen and (max-width: 580px) {
  .container-nav .margin {
    text-align: center;
  }

  .container-menu {
    padding: 3em 0;
    text-align: center;
  }
}
